.dropdown{
    background-color: #ebebebc5 !important;
    .dropdown-toggle{
        border-radius: 0 !important;
    border: none !important;
    margin-left: 35%;
    }
    .dropdown-toggle:hover{
        color: white;
    }

}